* {
  margin: 0;
  padding: 0;
}
/* Shared Style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 900px;
  color: #fff;
  cursor: pointer;
}
.hidden {
  visibility: hidden;
}
/* Main style */
header {
  background-color: #fff8f3;
  padding-top: 50px;
  background-image: url("../images/developer.png"),
    url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left, bottom right;
}
nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}

nav .menu {
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
}
nav .menu a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}
/* banner start */
.banner {
  padding: 46px 38px 0 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 585px;
}
.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner .banner-image img {
  max-width: 585px;
  vertical-align: middle;
}
/* section start */
.about {
  padding: 130px 230px;
}
.about-area {
  max-width: 1140px;
  background-color: #fff8f3;
  margin: 0 auto;
  text-align: center;
  padding: 131px 156px;
}
.about-container h3 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
}
.about-container p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  padding-bottom: 30px;
}
.about-card {
  gap: 50px;
  display: flex;
  justify-content: space-evenly;
}
.about-card .info-card p {
  font-size: 20px;
  color: #757575;
  gap: 30px;
}
.about-card .info-card h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}
/* Skill Start */
.skill-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
.skill-heading {
  text-align: center;
}
.skill-heading h3 {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
  padding-bottom: 30px;
}
.skill-heading p {
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  padding-bottom: 30px;
}
.skill-card {
  display: flex;
  gap: 24px;
}
.skill-card .card-item {
  padding: 30px;
  box-shadow: 0 6px 50px 0 #00000025;
  border-radius: 5px;
  max-width: 267px;
}
.skill-card .card-item img {
  width: 44px;
  margin-bottom: 30px;
}
.skill-card .card-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 30px;
}
.skill-card .card-item p {
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
/* Resume Start */
.resume {
  margin-top: 130px;
}
.resume .section-heading h2 {
  text-align: center;
}
.resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
}
.resume-container hr {
  margin: 30px 0;
}

.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}

.resume-card {
  max-width: 511px;
  margin-right: 47px;
}

.resume-card .card-title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}

.resume-card .card-info {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}

.resume-card .card-text {
  font-size: 16px;
  line-height: 28px;
  color: #757575;
}
